<template>
    <div class="beats-panel">
        <v-data-table :headers="header"
                      :items="beats"
                      :items-per-page="10"
                      :loading="loading"
                      class="elevation-4"
                      no-data-text="Aucuns beats"
                      style="width: 80%; margin: 50px auto 0 auto;"
        > 

            <template v-slot:top>
                <v-toolbar color="white" flat>
                    <v-toolbar-title>Beats</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical/>
                    <v-spacer/>
                    <v-dialog max-width="500px" v-model="dialog">
                        <template v-slot:activator="{ on }">
                            <v-btn class="mb-2" color="primary" dark v-on="on">Ajouter une prod</v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ 'Titre' }}</span>
                            </v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" md="4" sm="6">
                                            <v-text-field label="Nom" v-model="edited.name"
                                                          :error-messages="errors.name"
                                                          @click="errors.name = []"/>
                                        </v-col>
                                        <v-col cols="12" md="4" sm="6">
                                            <v-text-field label="Auteur" v-model="edited.author"/>
                                        </v-col>
                                        <v-col cols="12" md="4" sm="6">
                                            <v-text-field label="Prix" v-model="edited.price"/>
                                        </v-col>
                                        <v-col cols="12" md="4" sm="6">
                                            <v-text-field label="Durée" v-model="edited.duration"/>
                                        </v-col>
                                        <v-col cols="12" md="4" sm="6">
                                            <v-text-field label="BPM" v-model="edited.bpm"/>
                                        </v-col>
                                        <v-col cols="12" md="4" sm="6">
                                            <v-file-input label="Fichier" v-model="edited.file"
                                                          :error-messages="errors.file"
                                                          @click="errors.file = []"/>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer/>
                                <v-btn @click="dialog = false" color="blue darken-1" text>Annuler</v-btn>
                                <v-btn @click="save" :loading="loading" color="blue darken-1" text>Enregistrer</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>

            <template v-slot:item.actions="{item}">
                <v-icon @click="del(item)">delete</v-icon>
            </template>

        </v-data-table>
    </div>
</template>

<script>
	export default {
		name: "Beats",
		data() {
			return {
				header: [
                    {
                    	text: 'Nom',
                        value: 'name'
                    },
                    {
                    	text: 'Auteur',
                        value: 'author',
                    },
                    {
                    	text: 'Prix',
                        value: 'price',
                    },
                    {
                    	text: 'Durée',
                        value: 'duration'
                    },
                    {
                    	text: 'BPM',
                        value: 'bpm'
                    },
                    {
                    	text: 'Actions',
                        value: 'actions'
                    }
                ],
				loading: true,
				beats: [],
				dialog: false,
				edited: {
					name: 'Name',
                    author: 'Auteur',
					price: 20,
					duration: 120,
					bpm: 70,
					file: null,
				},
                errors: {
					name: [],
                    file: []
                }
			}
		},
		methods: {
			del: function (item) {
				const thiz = this;
				this.$auth.request('beats/admin/delete', {
					method: 'POST',
					'content-type': 'application/json',
                    body: {
                    	uuid: item.uuid
                    }
                }).then(data => data.json()).then(json => {
                	if (json.status) {
                		thiz.beats.splice(thiz.beats.indexOf(item), 1);
                    }
                });
			},
			save: function () {
				const thiz = this;
				this.loading = true;
				this.$auth.request('beats/admin/insert', {
					method: 'POST',
					'content-type': 'application/json',
					body: this.edited
				}).then(data => data.json()).then(json => {
					if (json.status) {
						const uuid = json.uuid;
						const dta = new FormData();
						dta.append('file', thiz.edited.file);
						dta.append('uuid', uuid);
						this.$auth.request('beats/admin/file/' + uuid, {
							method: 'POST',
							body: dta,
						}).then(data => data.json()).then(json => {
							this.loading = false;
							if (json.status) {
								thiz.beats.push(json.beat);
								thiz.dialog = false;
								thiz.edited = {
									name: 'Name',
									author: 'Auteur',
									price: 20,
									duration: 120,
									bpm: 70,
									file: null
                                }
							} else {
								console.log('erreur upload')
							}

						});
					} else {
						this.loading = false;
						if (json.error.code === 'ER_ALREADY_EXIST') {
							let field = json.error.field;
							thiz.errors[field] = 'Un beat avec ce nom existe déjà';
                        }
						console.log('erreur')
					}
				})
			}
		},

		beforeMount() {
			this.$auth.request('beats/admin/list').then(data => data.json()).then(json => {
				this.beats = json.beats;
				this.loading = false;
			})
		}
	}
</script>

<style lang="scss" scoped>

</style>
