<template>
    <div class="promotions">
        <v-alert :type="'error'" dismissible v-model="error.visibility">{{ error.value }}</v-alert>
        <v-container class="add-promotion pa-0 elevation-6" fluid>
            <v-responsive height="150" width="100%">
                <v-row>
                    <v-col class="form-part ml-5">
                        <v-text-field color="#2980b9" label="Nom" v-model="code"/>
                        <v-btn :disabled="type === 0 || end === 0 ||
                        code === '' " @click.native="addPromotion" block color="#0984e3">Ajouter
                        </v-btn>
                    </v-col>

                    <v-col class="form-part">

                        <v-select :items="['Remise', 'Réduction']" label="Type de réduction"
                                  v-model="type"/>
                        <v-text-field :rules="percent.rule" label="Remise" type="number"
                                      v-if="type === 'Remise'" v-model="percent.value"/>
                        <v-text-field :rules="remise.rule" label="Réduction" type="number"
                                      v-else-if="type === 'Réduction'" v-model="remise.value"/>
                    </v-col>

                    <v-col class="form-part mr-5">

                        <v-select :items="['Nombre d\'utilisation', 'Date']" label="Type de fin"
                                  v-model="end"/>
                        <v-text-field :rules="usage.rule" label="Utilisation" type="number"
                                      v-if="end === 'Nombre d\'utilisation'" v-model="usage.value"/>
                        <v-menu :close-on-content-click="false" offset-x transition="scale-transition"
                                v-else-if="end === 'Date'" v-model="dateMenu">
                            <template v-slot:activator="{on}">
                                <v-text-field color="#2980b9" label="Date de fin" readonly v-model="date" v-on="on"/>
                            </template>
                            <v-date-picker @input="dateMenu = false" color="#2980b9" v-model="date" width="307"/>
                        </v-menu>
                    </v-col>
                </v-row>

            </v-responsive>
        </v-container>
        <v-data-table :headers="promos_header"
                      :items="promotions"
                      :loading="promos_loading"
                      no-data-text="Aucune promotions en cours"
                      class="elevation-4"
                      style="width: 80%; margin: 50px auto 0 auto;"
                      :items-per-page="10"
        >

            <template v-slot:item.actions="{item}">
                <v-icon @click="del(item)">delete</v-icon>
            </template>

        </v-data-table>
    </div>
</template>

<script>
	export default {
		name: "Promotions",
		data: function () {
			return {
				promos_header: [
					{
						text: 'Code',
						value: 'code'
					},
					{
						text: 'Valeur',
						value: 'type',
					},
					{
						text: 'Fin',
						value: 'end',
					},
					{
						text: 'Action',
						value: 'actions',
						sortable: false,
					}
				],
				promos_loading: true,

				type: 0,
				end: 0,

				percent: {
					value: 10,
					min: 0,
					max: 100,
					rule: [
						v => !!v || "Veuillez insérer un nombre",
						v => v < this.percent.max || "La réduction doit être moins de 100%",
						v => v > this.percent.min || "La réduction doit être d'au moins 1%",
					]
				},
				remise: {
					value: 0,
					min: 0,
					rule: [
						v => !!v || "Veuillez insérer un nombre",
						v => v > this.remise.min || "La réduction doit être d'au moins 1€",
					]
				},

				usage: {
					value: 1,
					min: 1,
					rule: [
						v => !!v || "Veuillez insérer un nombre",
						v => v > this.remise.min || "Le nombre d'utilastion doit être d'au moins 1",
					]
				},
				date: new Date().toISOString().substr(0, 10),
				dateMenu: false,

				code: '',

				promotions: [],
				error: {
					visibility: false,
					value: ''
				},

				loading: false,
			}
		},
		methods: {
			change: function (vari, event) {
				this[vari] = event;
			},
			addPromotion: function () {
				this.loading = true;
				const code = this.code;
				let body = {
					code: code,
					type: {
						type: this.type === 'Remise' ? 1 : 2,
						value: this.type === 'Remise' ? this.remise.value : this.percent.value,
					},
					end: {
						type: this.end === 'Nombre d\'utilisation' ? 1 : 2,
						value: this.end === 'Nombre d\'utilisation' ? this.usage.value : this.date,
					}
				};
				this.$auth.request('promotions/insert', {
					method: 'POST',
					body,
					'Content-Type': 'application/json',
				}).then(data => data.json()).then(json => {
					if (json.status) {
						this.promotions.push(json.promotion);
						this.type = 0;
						this.end = 0;
						this.percent.value = 50;
						this.remise.value = 0;
						this.usage.value = 1;
						this.date = '';
						this.code = '';
					} else {
						this.error.value = function (code) {
							switch (code) {
								case 'ER_DUP_ENTRY':
									return 'Erreur, une promotion du même nom existe déjà.';
								case 'ER_TRUNCATED_WRONG_VALUE':
									return 'Erreur, les dates ne sont pas encore supportées.';
								default:
									return 'Une erreur est survenue.';
							}
						}(json.error.code);
						this.error.visibility = true;
					}
					this.loading = false;
				});

			},
			del: function (promotion) {
				let body = {
					code: promotion.code,
				};
				this.$auth.request('promotions/delete', {
					method: 'POST',
					body,
					'Content-Type': 'application/json',
				}).then(data => data.json()).then(json => {
					if (json.status) {
						this.promotions = this.promotions.filter(promo => promo !== promotion);
					}
				});

			}

		},
		beforeMount() {
			this.$auth.request('promotions/list').then(data => data.json()).then(json => {
				this.promotions = json;
				this.promos_loading = false;
			})
		}
	}
</script>

<style lang="scss" scoped>

    div.promotions {
        z-index: 600;

        button {
            color: #fff !important;
        }

        div.add-promotion {
            background-color: #fff;

            div.form-part {
                display: inline-block;
            }
        }

        div.promotions-list {

            width: 90%;
            height: calc(100vh - 160px - 8vw);
            position: absolute;
            left: 50%;
            top: calc(50% + 50px);
            transform: translate(-50%, -50%);
            background-color: #fff;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            overflow-y: auto;
            z-index: -1;

            table.promotions {
                width: 100%;
                height: auto;
                border-collapse: collapse;
                border-spacing: 0;
                empty-cells: show;

                thead {
                    tr {
                        height: 50px;

                        th {
                            width: 25%;
                            font-weight: 400;
                            font-size: 25px;
                            font-family: Roboto, serif;
                            text-transform: uppercase;
                            border-right: 1px solid #dcdde1;

                            &:last-of-type {
                                border: none;
                            }
                        }
                    }
                }

                tbody {
                    display: table-footer-group;

                    tr.promotion {
                        border-top: 1px solid #dcdde1;
                        height: 50px;

                        text-align: center;
                        font-weight: 300;
                        font-size: 18px;
                        color: #000;
                        font-family: Roboto, serif;

                        td {
                            border-right: 1px solid #dcdde1;

                            div.button {
                                padding: 5px 0;
                                margin-left: auto;
                                margin-right: 5px;
                            }

                            &:last-of-type {
                                border: none;
                            }
                        }

                        &:nth-of-type(odd) {
                            background-color: #f5f6fa;
                        }
                    }
                }
            }


        }


    }

</style>
