<template>
    <div class="navigation">
        <ul>
            <router-link :to="{name: 'home'}" exact>
                <li>Home</li>
            </router-link>
            <router-link :to="{name: 'beats'}">
                <li>Beats</li>
            </router-link>
            <router-link v-if="!this.$auth.isLogged()" :to="{name: 'login'}" class="right">
                <li><i class="fa fa-key"></i>
                    <icon :icon="['fa', 'key']"></icon>
                </li>
            </router-link>
            <a v-else href="#" class="right profile">
                <li><i class="far fa-user"></i>
                    <icon :icon="['far', 'user']"></icon>
                </li>
                <div class="submenu">
                    <router-link :to="{name: 'profile'}">Profile</router-link>
                    <router-link v-if="this.$auth.isAdmin()" :to="{name: 'administration'}">Panel</router-link>
                    <a href="#" @click.prevent="$auth.logout()">Logout</a>
                </div>
            </a>
            <router-link v-if="this.$auth.isLogged()" :to="{name: 'cart'}" class="right"><li>Cart</li></router-link>
        </ul>
    </div>
</template>

<script>
	export default {
		name: 'HelloWorld',
	}
</script>

<style scoped lang="scss">
    div.navigation {
        width: 100%;
        z-index: 999;

        ul {
            width: 100%;
            background-color: rgba(45, 52, 54, 1.0);
            height: 60px;
            line-height: 60px;
            margin: 0;
            padding: 0;

            a {
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 20px;
                cursor: pointer;
                display: inline-block;
                vertical-align: sub;
                text-align: center;
                width: 150px;
                user-select: none;

                &:hover, &.router-link-active {
                    li:after {
                        width: 150px;
                    }
                }

                &:first-child {
                    margin-left: 60px;
                }

                &.right {
                    float: right;
                    width: 80px;

                    li {
                        i {
                            font-size: 30px;
                            transition: all ease-in-out .5s .1s;
                        }

                        &:after {
                            max-width: 80px !important;
                        }
                    }

                    &:hover {
                        li {
                            &:after {
                                width: 80px;
                            }

                            i {
                                transform: rotate(360deg);
                            }
                        }
                    }
                }

                li {
                    list-style: none;
                    width: 100%;

                    &:after {
                        content: '';
                        width: 0;
                        height: 5px;
                        background-color: #fff;
                        display: block;
                        position: absolute;
                        top: 55px;
                        transition: all ease .2s .1s;
                        z-index: 999;
                    }
                }

                &:hover div.submenu {
                    display: block;
                }

                div.submenu {
                    background-color: #2d3436;
                    width: 150px;
                    position: absolute;
                    right: 0;
                    top: 60px;
                    display: none;
                    z-index: 999;

                    a {
                        color: #fff;
                        margin: 0;
                        padding: 0 30px;
                        font-size: 16px;
                        text-transform: none;
                        width: calc(100% - 60px);
                        text-align: left;
                    }
                }
            }
        }

    }
</style>
