<template>
    <div @space="play" class="player">
        <div @click="play" class="play" ref="play_button">
            <icon :color="'#bdc3c7'" :icon="['fa', status]" :spin="status === 'circle-notch'"
                  ref="play_icon"/>
        </div>
        <div class="infos">
            <span class="name">
            {{ beat.name }}
            </span>
            <div class="timer">
                <span class="time">{{timeFormat(time)}}</span>
                <div @mousedown="changeBar" class="bar-container">
                    <div :style="{width: (duration !== 0 ? time / duration * 100 : 0) + '%'}" class="bar"></div>
                </div>
                <span class="time">{{timeFormat(duration)}}</span>
            </div>
        </div>
        <div class="volume">
            <div class="volume-button">
                <icon :color="'#bdc3c7'" :icon="['fa', (volume === 0 ? 'volume-mute' : 'volume-up')]"
                      @click="(volume === 0 ? volume = oldvolume : volume = 0)"/>
            </div>

            <div class="volume-bar">
                <div @mousedown="changeVolume" class="bar-container">
                    <div :style="{height: volume * 100 + '%'}" class="bar"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		name: "Player",
		props: {
			beat: {
				type: Object,
				required: false
			},
		},
		data: function () {
			return {
				status: 'play',
				time: 0,
				duration: 0,
				volume: 0.2,
				oldvolume: this.volume,
			};
		},
		mounted() {
			window.addEventListener('keyup', () => {
				this.play();
			})
		},
		watch: {
			beat: function (newbeat, oldbeat) {
				let parent = document.getElementsByClassName('player')[0];
				let player = parent.querySelector('audio');
				if (player !== null) {
					player.remove()
				}
				this.status = 'circle-notch';
				player = document.createElement('audio');
				player.preload = 'metadata';
				player.onloadeddata = () => {
					this.duration = player.duration
				};

				this.$auth.request('beats/' + newbeat.uuid, {method: 'GET'}).then(data => data.blob()).then(blob => {
					player.src = URL.createObjectURL(blob);
				});
				player.visibility = 'hidden';
				parent.appendChild(player);

				player.ontimeupdate = () => {
					this.time = player.currentTime;
				};
				player.onended = () => {
					this.time = 0;
					this.status = 'play';
				};

				player.play();
				this.status = 'pause';
				player.volume = this.volume;
			},
			volume: function (volume, old) {
				this.oldvolume = old;
				const player = document.querySelector('div.player audio');
				if (player == null) return;
				player.volume = volume;

			},
		},
		methods: {
			play: function () {
				const player = document.querySelector('div.player audio');
				if (player == null) return;

				if (this.status === 'pause') {
					this.status = 'play';
					player.pause();
				} else {
					this.status = 'pause';
					player.play();
				}
			},
			timeFormat: function (time) {
				let minutes = Math.floor(time / 60);
				minutes = (minutes >= 10) ? minutes : "0" + minutes;
				let seconds = Math.floor(time % 60);
				seconds = (seconds >= 10) ? seconds : "0" + seconds;
				return minutes + ":" + seconds;
			},
			changeVolume: function (event) {
				const posY = event.offsetY;
				let vol = posY / 130;
				if (vol <= 0) vol = 0;
				this.volume = vol;
			},
			changeBar: function (event) {
				const posX = event.offsetX;
				const bar = document.querySelector('div.timer div.bar-container');
				let time = posX / bar.clientWidth * this.duration;
				if (time <= 0) time = 0;
				this.time = time;
				const player = document.querySelector('div.player audio');
				if (player == null) return;
				player.currentTime = this.time;
			}
		}
	}
</script>

<style lang="scss" scoped>
    div.player {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 80px;
        background-color: #ecf0f1;
        box-shadow: 0 0 10px #bdc3c7;
        z-index: 20;

        div.infos {
            margin-left: 20px;
            line-height: 80px;
            display: inline-block;
            position: inherit;

            span.name {
                position: absolute;
                top: -10px;
                height: 50px;
            }

            div.timer {
                margin-top: 45px;
                font-size: 14px;
                height: 16px;
                line-height: 16px;

                span.time {
                    vertical-align: middle;
                }

                div.bar-container {
                    width: calc(100vw - 280px);
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 10px;
                    cursor: pointer;

                    div.bar {
                        position: relative;
                        height: 5px;
                        background-color: #d63031;

                        &:after {
                            content: '';
                            width: calc(100vw - 280px);
                            height: 5px;
                            background-color: #7f8c8d;
                            position: absolute;
                            z-index: -1;
                        }

                        &:before {
                            content: '';
                            width: 15px;
                            height: 15px;
                            background-color: #d63031;
                            border-radius: 50%;
                            position: absolute;
                            left: calc(100% - 7.5px);
                            transform: translateY(-50%);
                            top: 50%;
                            transition: .1s linear;
                        }
                    }
                }


            }
        }

        div.play {
            display: inline-block;
            line-height: 80px;
            width: 80px;
            height: 80px;
            cursor: pointer;
            position: relative;
            user-select: none;

            svg {
                font-size: 30px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        }

        div.volume {
            display: inline-block;
            width: 80px;
            height: 80px;
            line-height: 80px;
            position: absolute;
            right: 0;

            div.volume-button {
                cursor: pointer;

                svg {
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &:hover {
                div.volume-bar {
                    height: 160px;
                }
            }

            div.volume-bar {
                background-color: #ecf0f1;
                transition: .3s .1s all ease;
                width: 80px;
                height: 0;
                overflow: hidden;
                transform-origin: top;
                transform: rotate(180deg);
                position: relative;

                div.bar-container {
                    width: 5px;
                    height: 130px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;

                    div.bar {
                        background-color: #d63031;
                        width: 5px;
                        position: relative;
                        transition: .1s linear;

                        &:after {
                            content: '';
                            width: 5px;
                            height: 130px;
                            background-color: #7f8c8d;
                            position: absolute;
                            z-index: -1;
                        }

                        &:before {
                            content: '';
                            width: 15px;
                            height: 15px;
                            background-color: #d63031;
                            border-radius: 50%;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: calc(100% - 7.5px);
                            transition: .1s linear;
                        }
                    }

                }
            }
        }
    }
</style>
