<template>
    <div :class="['alert', type]" v-if="!hideEmpty || !(hideEmpty && message === '') ">
        {{ message }}
    </div>
</template>

<script>
	export default {
		name: "Alert",
		props: {
			type: {
				default: 'info',
				validator: function (value) {
					return ['success', 'info', 'error'].indexOf(value) !== -1
				}
			},
			message: {
				default: '',
				type: String,
			},
			hideEmpty: {
				type: Boolean,
				default: false,
			}
		},

	}
</script>

<style scoped lang="scss">
    div.alert {
        padding: 14px 20px;
        color: #fff;
        position: relative;
        z-index: 10;

        &.info {
            background-color: #2980b9;
        }

        &.error {
            background-color: #d63031;
        }

        &.success {
            background-color: #2ecc71;
        }
    }
</style>
