<template>
    <div class="button" @click="click" :style="containerStyle">
        <button :disabled="disabled" :style="style">
            <icon :icon="['fas', 'circle-notch']" style="animation: fa-spin 1.3s ease infinite; width: 25px
            !important; height: auto !important;"
                  v-if="load"/>
            <span v-else>{{text}}</span>
        </button>
    </div>
</template>

<script>
	export default {
		name: "Button",
		data() {
			return {
				load: this.loading,
			};
		},
		props: {
			text: {
				required: true,
			},
			background: {
				default: '#3498db',
				type: String
			},
			color: {
				default: '#fff',
				type: String
			},
			border: {
				default: '#3498db',
				type: String
			},
			font: {
				default: () => {
					return {
						'font-family': 'Roboto',
                        'font-size': '16px'
					}
				},
				type: Object
			},
			radius: {
				default: '4px',
				type: String
			},
			disabled: {
				default: false,
				type: Boolean
			},
			loading: {
				default: false,
				type: Boolean,
			},
			height: {
				default: '50px',
				type: String
			},
			width: {
				default: '100px',
				type: String
			}
		},
		computed: {
			style: function () {
				const self = this;
				return {
					...self.font,
					'color': this.color,
					background: this.disabled ? '#adadad' : this.background,
					'border-radius': this.radius,
					'border-color': this.disabled ? '#adadad' : this.border,
					cursor: this.disabled ? 'default' : 'pointer',
				}
			},
			containerStyle: function () {
				return {
					height: this.height,
					width: this.width
				}
			}
		},
		methods: {
			click: function (event) {
				console.log(this.style);
				this.load = true;
				this.$emit('click', event);
				this.load = false;
			}
		}
	}
</script>

<style scoped lang="scss">

    div.button {
        vertical-align: middle;

        button {
            width: inherit;
            height: inherit;

            font-weight: 600;
            //font-size: 16px;
            text-transform: uppercase;
            border: 2px solid;
            cursor: pointer;
        }

    }

</style>
