<template>
    <div class="input" :style="{width}">
        <input spellcheck="false" :type="type !== 'number' ? type : 'text'" :value="value" @change="change"
               @input="change" @paste="change" ref="input" :step="type === 'number' ? step : null" @keydown="key">
        <span :data-placeholder="placeholder"></span>
    </div>
</template>

<script>
	export default {
		name: "Input",
		data: function () {
			return {
				content: this.value
			}
		},
        model: {
		    prop: 'value',
            event: 'input',
        },
		props: {
			type: {
				type: String,
				default: 'text'
			},
			value: {
				default: ''
			},
			placeholder: {
				type: String,
				default: 'Input'
			},
			width: {
				type: String,
				default: '100px'
			},
			min: {
				type: Number,
				default: null
			},
			max: {
				type: Number,
				default: null
			},
			step: {
				type: Number,
				default: 1
			},
			rule: {
				type: Function,
				default: (char) => {
					return true
				}
			}
		},
		methods: {
			change: function (event) {
				let valid = this.content;

				if (event instanceof InputEvent && event.inputType.includes('deleteContent')) {
					this.$emit('input', event.target.value);
					this.content = event.target.value;
					return;
				}

				if (this.type === 'text') {
					let value = '';
					if (event instanceof ClipboardEvent) value = event.clipboardData.getData('text/plain');
					else if (event.data != null) value = event.data;
					for (let char of value) {
						if (this.rule(char)) {
							valid += char;
						}
					}
				} else if (this.type === 'number') {
					let value = event.target.value;
					const match = value.match(/[0-9]*[.]?[0-9]+/g);
					let virg = value.match(/[.]/g);
					virg = virg == null ? [] : virg;
					if (match !== null && match.length === 1 && virg.length <= 1) {
						const nb = parseFloat(value);
						let tmin = true;
						let tmax = true;
						if (this.min !== null) {
							tmin = nb >= this.min;
						}
						if (this.max !== null) {
							tmax = nb <= this.max;
						}
						if (tmin && tmax) {
							valid = value.charAt(value.length - 1) === '.' ? value : parseFloat(value);
						}
					}
				}

				this.$emit('input', valid);
				this.$refs.input.value = valid;
				this.content = valid;
			},
			key: function (event) {
				if (this.value === '' && this.content !== '') {
					this.content = '';
					return 0;
                }
				if (!isFinite(this.step)) return 0;
				let e = 1, p = 0;
				while (Math.round(this.step * e) / e !== this.step) {
					e *= 10;
					p++;
				}
				const input = this.$refs.input;

				if (event.key === 'ArrowUp') {
					event.preventDefault();
					this.change({
						target: {
							value: '' + (parseFloat(input.value) + this.step).toFixed(p)
						}
					});
				}
				if (event.key === 'ArrowDown') {
					event.preventDefault();
					this.change({
						target: {
							value: '' + (parseFloat(input.value) - this.step).toFixed(p)
						}
					});
				}
			}
		},
		mounted() {
			const input = this.$el.querySelector(".input > input");
			input.onfocus = () => {
				input.parentElement.classList.add('focus');
			};
			input.onblur = () => {
				if (input.value === "")
					input.parentElement.classList.remove('focus');
			};
			if (this.value !== '' || this.content !== '') input.onfocus();
		},
        updated() {
	        const input = this.$el.querySelector(".input > input");
	        if ((this.value !== '' || this.content !== '') && input.onfocus !== null) input.onfocus();
	        else {
	        	input.onblur();
            }
        }
	}
</script>

<style scoped lang="scss">
    div.input {
        position: relative;
        margin: 30px auto;
        border-bottom: 2px solid #adadad;
        display: inline-block;

        span {
            &:before {
                content: attr(data-placeholder);
                position: absolute;
                top: 50%;
                left: 5px;
                color: #adadad;
                transform: translateY(-50%);
                font-size: 18px;
                z-index: -1;
                transition: .5s;
            }

            &:after {
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                background: #2980b9;
                transition: .5s;
            }
        }

        &.focus {
            span {
                &:before {
                    top: -5px;
                    font-size: 14px;
                }

                &:after {
                    width: 100%;
                }
            }
        }

        input {
            border: none;
            display: block;
            padding: 4px 5px 2px 5px;
            font-size: 18px;
            background: none;
            width: calc(100% - 10px);
        }
    }
</style>
