<template>
    <div :class="['select', (extend ? 'active' : '')]" :value="current" :style="colors">
        <span class="current" @click="extend = !extend">{{current == null ? name : current}}
            <span class="arrow arrow-down"></span></span>
        <div class="list">
            <div class="element" v-for="element in list" @click="() => {extend = false; current = element;
            $emit('change', element)}">
                <span class="text">{{element}}</span>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		name: "Select",
		props: {
			list: {
				required: true,
				type: Array,
			},
			name: {
				type: String
			},
			maincolor: {
				type: String,
				default: '#adadad'
			},
            focuscolor: {
				type: String,
				default: '#3498db'
			}
		},
		data: function () {
			return {
				current: null,
				extend: false
			}
		},
        computed: {
			colors() {
				return {
					'--main-color': this.maincolor,
                    '--focus-color': this.focuscolor
                }
            }
        }
	}
</script>

<style scoped lang="scss">
    div.select {
        display: inline-block;
        border: 3px solid var(--main-color);
        border-radius: 3px;
        font-family: Roboto, serif;
        color: var(--main-color);
        text-transform: uppercase;
        position: relative;
        transition: .2s ease;
        font-size: 16px;

        &.active {
            border-color: var(--focus-color);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            color: var(--focus-color);
            overflow: visible;

            div.list {
                transform: scale(1, 1);
            }

            span.arrow {
                transform: rotate(225deg) !important;
                border-color: var(--focus-color) !important;
                vertical-align: middle !important;
            }
        }

        span.current {
            padding: 12px 12px;
            display: inline-block;
            user-select: none;
            cursor: pointer;
            font-weight: 500;
            background-color: #fff;
            z-index: 10;

            span.arrow {
                border-right: 2px solid var(--main-color);
                border-bottom: 2px solid var(--main-color);
                display: inline-block;
                width: 8px;
                height: 8px;
                vertical-align: top;
                transform: rotate(45deg);
                margin: 0 0 0 5px;
                transition: .4s ease;
                -webkit-transition-property: border-color, -webkit-transform;
                -moz-transition-property: border-color, -moz-transform;
                -ms-transition-property: border-color, -ms-transform;
                -o-transition-property: border-color, -o-transform;
                transition-property: border-color, transform
            }
        }

        div.list {
            transition: .2s ease;
            position: absolute;
            border: 3px solid var(--focus-color);
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            border-top: none;
            width: 100%;
            left: -3px;
            transform: scale(1, 0);
            transform-origin: top;
            z-index: 20;

            div.element {
                border-bottom: 2px solid var(--focus-color);
                padding: 8px 12px;
                font-weight: 400;
                user-select: none;
                cursor: pointer;
                background-color: #fff;

                &:first-of-type {
                    margin-top: 3px;
                }

                &:last-of-type {
                    border-bottom: none;
                }
            }
        }
    }
</style>
