<template>
    <div id="app">
        <v-app>
            <router-view/>
        </v-app>
    </div>
</template>

<script>
</script>

<style lang="scss">

    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

    html, body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        background-color: aliceblue;
    }

    * {
        outline: none;
    }

    .ml-10 {
        margin-left: 10px;
    }
</style>
