<template>
    <div class="administration">
        <Navbar/>
        <div class="panel">
            <div class="sidebar">
                <h2>Panel d'administration</h2>
                <ul>
                    <router-link :to="{name: 'panel.beats'}">Beats</router-link>
                    <router-link :to="{name: 'panel.promotions'}">Promotions</router-link>
                    <router-link :to="{name: 'panel.accounts'}">Comptes</router-link>
                    <router-link :to="{name: 'panel.stats'}">Statistiques</router-link>
                </ul>
            </div>
            <router-view class="content"></router-view>
        </div>
    </div>
</template>

<script>
	import Navbar from "../components/Navbar";

	export default {
		name: "Administation",

		components: {
			Navbar,
		},

		beforeRouteEnter(to, from, next) {
			if (localStorage.getItem('admin') === '1' && localStorage.getItem('token') !== null) {
				next();
			} else {
				next('/')
			}
		}
	}
</script>

<style scoped lang="scss">
    div.panel {
        width: 100%;
        height: calc(100vh - 60px);

        div.sidebar {
            position: fixed;
            left: 0;
            top: 60px;
            background: #3d3d3d;
            width: 20%;
            min-width: 200px;
            max-width: 300px;
            height: calc(100vh - 60px);
            box-shadow: #2d3436 0 0 48px -14px;
            z-index: 500;

            h2 {
                font-family: 'Roboto', serif;
                color: #fff;
                font-weight: 400;
                text-align: center;
                font-size: 23px;
                width: 90%;
                margin: 0 auto;
                padding: 12px 0;
                cursor: default;
                user-select: none;
            }

            ul {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;

                a {
                    font-family: 'Roboto', serif;
                    color: #fff;
                    font-size: 28px;
                    text-decoration: none;
                    text-transform: uppercase;
                    display: block;
                    margin: 0;
                    width: 100%;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    transition: .4s ease-in-out;
                    user-select: none;

                    background: linear-gradient(90deg, #3d3d3d, #3d3d3d, rgba(45, 52, 54, 1.0), rgba(45, 52, 54, 1.0));
                    background-size: 300%;


                    &:hover, &.router-link-active {
                        background-position: right;
                    }
                }
            }
        }

        div.content {
            position: absolute;
            left: 20%;
            width: 80%;
            height: calc(100vh - 60px);
            background-color: #fff;

            @media (min-width: 1500px) {
                left: 300px;
                width: calc(100% - 300px);
            }
            @media (max-width: 1000px) {
                left: 200px;
                width: calc(100% - 200px);
            }
        }
    }
</style>
