<template>
    <div class="beats">
        <Navbar/>
        <div class="container">
            <v-data-table :headers="header"
                          :items="prods"
                          :items-per-page="10"
                          :loading="false"
                          class="elevation-4"
                          no-data-text="Sorry, there is no beats available. Maybe you already bought them or try again in a few days."
                          style="width: 80%; margin: 50px auto 0 auto;"
            >

                <template v-slot:item.play="{item}">
                    <v-icon @click="playing = item">play_arrow</v-icon>
                </template>
                <template v-slot:item.buy="{item}" v-if="$auth.isLogged()">
                    <v-icon @click="addProd(item)" v-if="!cartTracks().some(e => e.id === item.id)">shopping_cart
                    </v-icon>
                    <v-icon @click="removeProd(item)" v-else>delete</v-icon>
                </template>

            </v-data-table>
        </div>
        <Player :beat="playing"/>
    </div>
</template>

<style lang="scss" scoped>


    div.container {

        div.no-tracks {
            position: relative;
            width: 80%;
            margin: 50px auto;
        }

        div.beats {
            width: 80%;
            height: calc(80% - 80px);
            background-color: #fff;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, calc(-50% - 15px));
            overflow-y: auto;

            div.beat {
                width: 100%;
                height: 60px;
                line-height: 60px;
                position: relative;

                div.play {
                    display: inline-block;
                    height: 60px;
                    width: 60px;
                    line-height: 60px;
                    position: relative;
                    cursor: pointer;

                    &:hover {
                        div.button {
                            background-position: right;
                        }
                    }

                    div.button {
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        background: linear-gradient(120deg, #d63031, #ff7979);
                        background-size: 200%;
                        transition: .3s ease-in-out;
                        vertical-align: middle;
                        display: block;
                        margin: 10px;

                        svg {
                            display: block;
                            width: 20px;
                            height: 20px;
                            font-size: 20px;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(calc(-50% + 4px), -50%);

                            polygon {
                                fill: #fff;
                            }

                        }
                    }

                }

                span.name {
                    margin-left: 5px;
                    display: inline-block;
                    position: absolute;
                    vertical-align: middle;
                    font-size: 25px;
                    font-family: Roboto, serif;
                }

                div.action-button {
                    display: inline-block;
                    line-height: 40px;
                    position: absolute;
                    right: 20px;
                    background: linear-gradient(120deg, #d63031, #ff7979);
                    background-size: 200%;
                    transition: .3s ease-in-out;
                    cursor: pointer;
                    height: 40px;
                    width: 50px;
                    top: 50%;
                    transform: translateY(-50%);
                    user-select: none;

                    &:hover {
                        background-position: right;
                    }

                    .button-content {
                        vertical-align: middle;
                        font-size: 25px;
                        width: inherit;
                        margin: 0 auto;
                    }
                }

                span.price {
                    position: absolute;
                    right: 80px;
                    top: 0;
                }

                &:nth-of-type(even) {
                    background-color: #fff;
                }

                &:nth-of-type(odd) {
                    background-color: #ecf0f1;
                }
            }
        }
    }
</style>

<script>
	import Navbar from '@/components/Navbar.vue'
	import {mapActions, mapGetters, mapState} from "vuex";
	import Player from "../components/Player";

	export default {
		name: 'beats',
		components: {
			Navbar,
			Player
		},
		data: function () {
			return {
				playing: {
					name: 'Click on any beat to listen it'
				},
				header: [
                    {
                    	text: 'Play',
                        value: 'play',
                    },
					{
						text: 'Nom',
						value: 'name'
					},
					{
						text: 'Auteur',
						value: 'author',
					},
					{
						text: 'Durée',
						value: 'duration'
					},
					{
						text: 'BPM',
						value: 'bpm'
					},
					{
						text: 'Prix',
						value: 'price',
					},
                    {
                    	text: 'Buy',
                        value: 'buy'
                    }
				],
			};
		},
		computed: mapState({
			prods: state => state.prods.all
		}),
		methods: {
			...mapGetters('cart', [
				'cartTracks'
			]),
			...mapActions('cart', [
				'addProd',
				'removeProd'
			]),
		},
		created() {
			this.$store.dispatch('getAllProds')
		}
	}
</script>
