<template>
    <div class="cart">
        <Navbar/>
        <div class="cart-container">
            <div class="error" v-if="error !== ''">{{error}}</div>
            <div class="success" v-if="success !== ''">{{success}}</div>
            <div class="tracks" v-if="tracks.length !== 0">
                <div class="track" v-for="track in tracks">
                    <span class="name">{{track.name}}</span>
                    <span class="price">{{ track.price }} €</span>
                    <span class="delete" @click.prevent="removeProd(track)">
                        <icon :icon="['fa', 'trash']" size="2x"></icon>
                    </span>
                </div>
            </div>
            <div class="empty-cart" v-else>
                Your cart is empty. Add some tracks
                <router-link :to="{name: 'beats'}">here</router-link>
            </div>
            <div ref="buy" id="paypal-button" v-if="tracks.length !== 0"></div>
        </div>
    </div>
</template>

<style scoped lang="scss">

    div.cart-container {

        position: relative;
        width: 80%;
        margin: 50px auto;

        div#paypal-button {
            width: 30%;
            max-width: 300px;
            margin: 30px auto;
        }

        div.tracks {

            height: 100%;
            border: 1px solid #b2bec3;
            border-radius: 5px;
            background-color: #f1f8fb;

            div.track {
                width: calc(100% - 30px);
                height: 50px;
                line-height: 50px;
                border-bottom: 1px solid #b2bec3;
                padding: 0 15px;
                position: relative;

                &:last-of-type {
                    border: none;
                }

                span {
                    &.name {

                    }

                    &.price {
                        position: absolute;
                        right: 55px;
                    }

                    &.delete {
                        cursor: pointer;
                        position: absolute;
                        right: 15px;

                        svg {
                            vertical-align: middle;
                        }
                    }
                }
            }
        }

        button {
            position: absolute;
            right: 0;
            bottom: -60px;
            width: 20%;
            border-radius: 5px;

            display: block;
            background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
            background-size: 200%;
            border: none;
            padding: 15px;
            color: #fff;
            text-transform: uppercase;
            font-size: 20px;
            cursor: pointer;
            transition: .4s .1s ease;

            &:hover, &:active {
                background-position: right;
            }

            &:disabled {
                cursor: default;
                background: #878787;
            }
        }
    }

</style>

<script>
	import Navbar from '@/components/Navbar.vue'
	import {mapActions, mapGetters} from 'vuex'

	export default {
		name: 'cart',
		data: function () {
			return {
				error: '',
				success: ''
			};
		},
		computed: {
			...mapGetters('cart', {
				tracks: 'cartTracks'
			})
		},
		components: {
			Navbar
		},
		methods: {
			...mapActions('cart', [
				'removeProd'
			]),
			buy: function (tracks) {
				this.$refs.buy.disabled = true;
				if (this.$store.dispatch('cart/buy', tracks)) {
					this.$refs.buy.disabled = false;
				} else {
					this.$refs.buy.disabled = false;
				}
			},
			checkPayment: function (data) {
				return this.$auth.request('checkpayment', {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json'
							},
							body: JSON.stringify({
								data: data
							})
						}
				).then(data => data.json());
			},
			load_paypal: function () {
				const price = this.$store.getters['cart/totalPrice'];
				const th = this;

				paypal.Buttons({
					style: {
						size: 'small',
						shape: 'pill',
						color: 'blue',
						height: 30,
					},
					createOrder: function (data, actions) {
						th.error = '';
						th.success = '';
						return th.$auth.request('buy', {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json'
							},
							body: JSON.stringify({
								tracks: th.tracks
							})
						}).then(data => data.json()).then(json => json.orderID);
					},
					onApprove: function (data, actions) {
						return actions.order.capture().then(function (details) {
							const payload = {
								payment: data.orderID,
								payer: data.payerID,
								amount: price,
							};

							th.checkPayment(payload).then(status => {
								if (status.status === true) {
									th.success = status.message;
								} else {
									th.error = status.message;
								}
							})
						});
					}
				}).render('#paypal-button').catch(e => {
				});
			}
		},
		updated() {
			if (this.$refs.buy !== undefined)
				this.$refs.buy.innerHTML = '';
			if (this.tracks.length !== 0) this.load_paypal();
		},
		mounted() {
			if (this.$refs.buy !== undefined)
				this.$refs.buy.innerHTML = '';
			if (this.tracks.length !== 0) this.load_paypal();
		}
	}
</script>
