<template>
    <div class="login">
        <Navbar/>

        <div class="login-form">
            <div class="logo"><span></span></div>
            <form action="" @submit="login">
                <div class="input-container">
                    <input type="email" ref="mail" id="mail" @click="error = ''">
                    <span data-placeholder="E-Mail"></span>
                </div>
                <div class="input-container">
                    <input type="password" ref="password" id="password" @click="error = ''">
                    <span data-placeholder="Password"></span>
                </div>

                <button ref="login">Login</button>

                <div class="error" v-if="error !== ''">{{error}}</div>

                <span class="register"><router-link :to="{name: 'register'}">Register</router-link> instead</span>
            </form>
        </div>
    </div>
</template>

<style scoped lang="scss">

    div.login {
        width: 100%;
        height: calc(100vh - 60px);
        overflow: hidden;

        div.login-form {
            width: 40%;
            height: 40vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid rgba(123, 136, 141, 0.8);
            border-radius: 7px;
            box-shadow: 0 0 12px #aaaaaa;

            div.logo {
                width: 20%;
                background-color: #220052;
                transform: rotate(45deg) translate(-35%, 35%);
                height: 8vw;
                position: relative;
                left: 50%;
                margin: 40px 0 50px 0;
                padding: 0;

                span {
                    border: 10px solid #fff;
                    width: calc(100% - 20px);
                    height: calc(100% - 20px);
                    display: inline-block;
                }
            }

            form {

                div.input-container {
                    position: relative;
                    width: 70%;
                    margin: 30px auto;
                    border-bottom: 2px solid #adadad;

                    span {
                        &:before {
                            content: attr(data-placeholder);
                            position: absolute;
                            top: 50%;
                            left: 5px;
                            color: #adadad;
                            transform: translateY(-50%);
                            z-index: -1;
                            transition: .5s;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 2px;
                            background: #2980b9;
                            transition: .5s;
                        }
                    }

                    &.focus {
                        span {
                            &:before {
                                top: -5px;
                                font-size: 14px;
                            }

                            &:after {
                                width: 100%;
                            }
                        }
                    }

                    input {
                        border: none;
                        display: block;
                        padding: 4px 5px 2px 5px;
                        font-size: 18px;
                        background: none;
                        width: calc(100% - 10px);
                    }
                }

                button {
                    width: 70%;
                    margin: auto;
                    display: block;
                    background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
                    background-size: 200%;
                    border: none;
                    padding: 15px;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 20px;
                    cursor: pointer;
                    transition: .4s .1s ease;

                    &:hover, &:active {
                        background-position: right;
                    }

                    &:disabled {
                        cursor: default;
                        background: #878787;
                    }
                }

                div.error {
                    width: calc(70% - 30px);
                    margin: 10px auto;
                    background-color: #d63031;
                    color: #fff;
                    padding: 15px;
                }

                span.register {
                    text-align: center;
                    margin-top: 10px;
                    display: block;
                }
            }
        }

    }

</style>

<script>
	import Navbar from '@/components/Navbar.vue'

	export default {
		name: 'login',
		components: {
			Navbar
		},
		data: function () {
			return {
				error: '',
			};
		},
		mounted() {
			document.querySelectorAll("input").forEach(value => {
				value.onfocus = () => {
					value.parentElement.classList.add('focus');
				};
				value.onblur = () => {
					if (value.value === "")
						value.parentElement.classList.remove('focus');
				};
			})
		},
		methods: {
			login: function (event) {
				event.preventDefault();
				this.$refs.login.disabled = true;

				const mail = this.$refs.mail;
				const password = this.$refs.password;

				const options = {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({
						mail: mail.value,
						password: password.value
					}),
				};

				fetch(process.env.VUE_APP_API_URL + 'accounts/login', options)
						.then(data => data.json())
						.then(json => {
							const status = json.status;
							if (status) {
								const token = json.token;
								localStorage.setItem('token', token);
								if (json.admin === 1) localStorage.setItem('admin', '1');
								this.$router.push({name: 'home'})
							} else {
								password.value = "";
								this.error = json.message;
							}
							this.$refs.login.disabled = false;
						}).catch(e => {
					this.$refs.login.disabled = false;
				})
			}
		}
	}

</script>
