<template>
    <div class="profile">
        <Navbar/>
        <v-data-table :headers="header"
                      :items="beats"
                      :items-per-page="10"
                      :loading="false"
                      class="elevation-4"
                      no-data-text="Sorry, there is no beats available. Maybe you already bought them or try again in a few days."
                      style="width: 80%; margin: 50px auto 0 auto;"
        >

            <template v-slot:item.play="{item}">
                <v-icon @click="playing = item">play_arrow</v-icon>
                <v-icon @click="download(item)" class="pl-2">save_alt</v-icon>
            </template>

        </v-data-table>
        <Player :beat="playing"/>
    </div>
</template>

<script>
	import Navbar from "../components/Navbar";
	import Player from "../components/Player";

	export default {
		name: "Profile",
		data: function () {
			return {
				beats: [],
				playing: {
					name: 'Click on any beat to listen it'
				},
				header: [
					{
						text: 'Play',
						value: 'play',
					},
					{
						text: 'Nom',
						value: 'name'
					},
					{
						text: 'Auteur',
						value: 'author',
					},
					{
						text: 'Prix',
						value: 'price',
					},
					{
						text: 'Durée',
						value: 'duration'
					},
					{
						text: 'BPM',
						value: 'bpm'
					},
				],
			};
		},
		components: {
			Navbar,
			Player
		},
		methods: {
			download: function (beat) {
				this.$auth.request('beats/' + beat.uuid, {method: 'GET'}).then(data =>
						data.blob()).then(blob => {
					const url = URL.createObjectURL(blob);
					const link = document.createElement('a');
					link.href = url;
					link.download = beat.name + '.' + beat.ext;
					link.click();
				});
			}
		},
		mounted() {
			this.$auth.request('accounts/orders', {method: 'GET'}).then(data => data.json()).then(json => {
				this.beats = json;
			});
		},
	}
</script>

<style scoped lang="scss">
    div.beats {
        width: 80%;
        height: calc(80% - 80px);
        background-color: #fff;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% - 15px));
        overflow-y: auto;

        div.beat {
            width: 100%;
            height: 60px;
            line-height: 60px;
            position: relative;

            div.play {
                display: inline-block;
                height: 60px;
                width: 60px;
                line-height: 60px;
                position: relative;
                cursor: pointer;

                &:hover {
                    div.button {
                        background-position: right;
                    }
                }

                div.button {
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    background: linear-gradient(120deg, #d63031, #ff7979);
                    background-size: 200%;
                    transition: .3s ease-in-out;
                    vertical-align: middle;
                    display: block;
                    margin: 10px;

                    svg {
                        display: block;
                        width: 20px;
                        height: 20px;
                        font-size: 20px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(calc(-50% + 4px), -50%);

                        polygon {
                            fill: #fff;
                        }

                    }
                }

            }

            span.name {
                margin-left: 5px;
                display: inline-block;
                position: absolute;
                vertical-align: middle;
                font-size: 25px;
                font-family: Roboto, serif;
            }

            div.action-button {
                display: inline-block;
                line-height: 40px;
                position: absolute;
                right: 20px;
                background: linear-gradient(120deg, #d63031, #ff7979);
                background-size: 200%;
                transition: .3s ease-in-out;
                cursor: pointer;
                height: 40px;
                top: 50%;
                transform: translateY(-50%);
                padding: 0 7px;
                user-select: none;

                &:hover {
                    background-position: right;
                }

                span.download {
                    color: #fff;
                    font-family: Roboto, serif;

                }
            }

            &:nth-of-type(even) {
                background-color: #fff;
            }

            &:nth-of-type(odd) {
                background-color: #ecf0f1;
            }
        }
    }
</style>
